public enum @Model.EnumInfo.Name
{
    @foreach(var entry in @Model.EnumInfo.Values)
    {
        @if(entry.Name.ToLower().EndsWith("_null") && entry.Number == 0)
        {
        @:Null = @entry.Number,
        }
        else
        {
        @:@Model.ToUpperCamel(entry.Name.Replace( @Model.EnumInfo.Name,"")) = @entry.Number,
        }
    }
}